
$rem-baseline-px: 16px;  
$rem-include-px:true;  
$PrimaryColor:#417DAB;
$DangerColor:#FB3640;
$primary:#417DAB;
$WhiteColor:#ffffff;
$lightGray:#F3F3F3;
$dark:#131419;
$bgLight:#F7F7F7;
$footerHeadingColor:#1E1E1E;


